<div class="module module-social">
    <div class="menu">

        {% if facebook_link %}
            <div class="menu-item">
                <div class="menu-item-icon"><a href="{{facebook_link}}" target="_blank"><span class="icon icon-facebook"><i class="fab fa-facebook-f"></i></span></a></div>
            </div>
        {% endif %}

        {% if twitter_link %}
            <div class="menu-item">
                <div class="menu-item-icon"><a href="{{twitter_link}}" target="_blank"><span class="icon icon-twitter"><i class="fab fa-twitter"></i></span></a></div>
            </div>
        {% endif %}

        {% if youtube_link %}
            <div class="menu-item">
                <div class="menu-item-icon"><a href="{{youtube_link}}" target="_blank"><span class="icon icon-youtube"><i class="fab fa-youtube"></i></span></a></div>
            </div>
        {% endif %}

        {% if discord_link %}
            <div class="menu-item">
                <div class="menu-item-icon"><a href="{{discord_link}}" target="_blank"><span class="icon icon-discord"><i class="fab fa-discord"></i></span></a></div>
            </div>
        {% endif %}

        {% if twitch_link %}
            <div class="menu-item">
                <div class="menu-item-icon"><a href="{{twitch_link}}" target="_blank"><span class="icon icon-twitch"><i class="fab fa-twitch"></i></span></a></div>
            </div>
        {% endif %}
    </div>
</div>