[socialNetworksMenu]
[socialNetworksTweets]
[socialNetworksTv]
[menuTree]
[esportGames]
==
<!doctype html>
<html lang=fr>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{ meta() }}

        <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700,900|Roboto+Condensed:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
        <!-- -------------------------------- HEADER -->
        <div class="header">
            <div class="header-first">
                <div class="header-content">
                    <!-- ---- MODULE : Menu main -->
                    {% component 'menuTree' id=1%}

                    <!-- ---- MODULE : Social -->
                    {% component 'socialNetworksMenu' %}
                </div>
            </div>

            <div class="header-second">
                <div class="header-content">
                    <div class="logo">
                        <a href="/">
                            <img src="{{ 'assets/images/logo.png'|theme }}" alt="Without Origins Logo" width=229 height=47>
                        </a>
                    </div>
                    {% component 'esportGames' %}
                </div>
            </div>

            <div class="header-third">
                <div class="header-content">
                    {% set game = esport_context() %}
                    {% if game %}
                        <div class="header-title">
                            {{ game.name }}
                        </div>
                        {% component 'menuTree' id=esport_menu_id()%}
                    {% endif %}
                </div>
            </div>
        </div>



        <!-- -------------------------------- BODY -->
        <div class="body">
            {% set game=esport_context() %}
            {% if game and game.background %}
                <div class="body-background"><img src="{{ game.background | media | resize(1600, 400,  { mode: 'crop'}) }}" alt=""></div>
            {% else %}
                <div class="body-background"><img src="{{ 'assets/images/body-bg.jpg' | theme  | resize(1600, 400,  { mode: 'crop'}) }}" alt=""></div>
            {% endif %}

            <div class="body-content">
                <div class="columns">

                    <div class="column column-right">
                        {% if twitch_link %}
                            {% partial 'frame' title="WithoutOriginsTv" icon="fab fa-twitch" component="socialNetworksTv" %}
                        {% endif %}

                        {% if twitter_link %}
                            {% partial 'frame' title="Tweets" icon="fab fa-twitter" component="socialNetworksTweets" %}
                        {% endif %}

                        <div class="frame is-transparent">
                            <div class="frame-content">
                                <iframe style="width:100%" src="https://discordapp.com/widget?id=271644152268062720&theme=dark" height="500" allowtransparency="true" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="column column-left">
                        {% page %}
                    </div>
                </div>
            </div>
        </div>

        <!-- -------------------------------- Footer -->
        <div class="footer">
            <div class="footer-content">
    
                <!-- ---- MODULE : Social -->
                {% component 'socialNetworksMenu' %}

                <!-- ---- MODULE : Copyright -->
                <div class="module module-copyright">
                    2019 - Without Origins  All rights reserved
                </div>
            </div>
        </div>
        <div style="display:none" class="module module-cookies">
            <div class="content">
                <div class="title">
                    Cookies
                </div>
                <div class="desc">
                    Nous utilisons les cookies afin de fournir les services et fonctionnalités proposés sur notre site et afin d’améliorer l’expérience de nos utilisateurs.
                    <br>
                    En continuant à utiliser ce site, vous acceptez cette politique.
                </div>
                <div class="button">J'ai compris</div>
            </div>
        </div>
        <script src="{{ 'assets/js/script.js'|theme }}"></script>
    </body>
</html>