@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900");
* {
  font-family: 'Titillium Web', sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #002350; }

* {
  max-width: 796px;
  font-size: inherit;
  color: inherit; }

.album {
  background: #eee;
  padding: 12px;
  border: 2px solid #ddd; }

h1, h2, h3, h4, h5, h6 {
  color: #002350;
  margin-top: 24px; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }

h1 {
  position: relative;
  font-size: 40px;
  line-height: 140%;
  margin-bottom: 24px;
  padding-bottom: 12px;
  font-weight: normal;
  border-bottom: 1px solid #f57700; }
  h1:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 70%;
    height: 1px;
    background: #002350; }

h2 {
  font-size: 32px;
  line-height: 140%;
  color: #f57700;
  margin-bottom: 6px;
  font-weight: normal; }

h3 {
  font-size: 24px;
  line-height: 140%;
  color: #549eff;
  margin-bottom: 2.4px;
  font-weight: normal; }

h4 {
  font-size: 20px;
  line-height: 140%;
  color: #002350;
  margin-bottom: 2.4px;
  font-weight: normal; }

h5 {
  font-size: 18px;
  line-height: 140%;
  color: #893100;
  margin-bottom: 2.4px;
  font-weight: normal; }

h6 {
  font-size: 16px;
  line-height: 140%;
  color: #858585;
  margin-bottom: 2.4px;
  font-weight: normal; }

p {
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 12px;
  color: #002350; }

hr {
  position: relative;
  display: block;
  background: #f57700;
  height: 1px;
  border-left: 120px solid #002350;
  margin-bottom: 12px; }

ul, ol {
  font-size: 13px;
  padding-left: 24px;
  margin-bottom: 12px; }

a {
  text-decoration: underline;
  color: #549eff; }

img {
  margin: 12px 24px; }

.columns-2 {
  column-count: 2;
  column-gap: 24px; }

.columns-3 {
  column-count: 3;
  column-gap: 24px; }

.box, .box-info, .box-warning, .box-error {
  border: 1px solid #858585;
  color: #858585;
  padding: 12px; }

.box-info {
  border-color: #549eff;
  color: #549eff; }

.box-warning {
  border-color: #f57700;
  color: #f57700; }

.box-error {
  border-color: red;
  color: red; }

img {
  position: relative;
  max-width: 100%; }
  img.fr-dib {
    margin: 5px auto;
    display: block;
    float: none;
    vertical-align: top; }
  img.fr-dib.fr-fil {
    margin-left: 0; }
  img.fr-dib.fr-fir {
    margin-right: 0; }
  img.fr-dii {
    display: inline-block;
    float: none;
    vertical-align: bottom;
    margin-left: 5px;
    margin-right: 5px;
    max-width: calc(90%); }
  img.fr-dii.fr-fil {
    float: left;
    margin: 5px 5px 5px 0;
    max-width: calc(95%); }
  img.fr-dii.fr-fir {
    float: right;
    margin: 5px 0 5px 5px;
    max-width: calc(95%); }

table th, table td {
  border: 1px solid white; }

table th {
  background: #c8c8c8;
  padding: 6px;
  font-weight: bold; }

table td {
  background: #eeeeee;
  padding: 6px; }
