@import './variables.scss';

html
{
    background: $color-white-dark;
    width: 100%;
    overflow-x: hidden;
}

html, body 
{
    height: 100%;
}

// --------------------------------------------------- HEADER
.header
{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

    .header-content
    {
        position: relative;
        margin: 0 auto;
        max-width: $site-width;
        height: 100%;
        width: 100%;
    }

    .header-first
    {
        background: $color-white;
        transition: duration();
        height: distance(2.5);

        .module-social
        {
            position: absolute;
            right: distance();
            top: 0;
            transition: duration();
        }
    }

    .header-second
    {
        background: $color-white-dark;
        height: distance(6);
        transition: duration();
        position: relative;
        z-index: -1;
        clear: both;

        &:after,
        &:before
        {
            content:'';
            display: block;
            position: absolute;
            height: 3px;
            bottom: -3px;
            left: 0;
            right: 0;
            background: $color-orange;
        }

        &:after
        {
            left:20%;
            background: $color-blue-dark;
        }

        .logo
        {
            height:100%;
            float: left; 
            padding: distance(1.5) 0 distance(1.5) distance(2);
            margin-right: distance(3);
            transition: duration();
            a
            {
                height: 100%;
                display: block;
            }
            img
            {
                width: auto;
                height: 100%;
            }
        }
    }

    .header-third
    {
        height: distance(2.5);
        transition: duration();
        clear: both;


        .header-title
        {
            z-index: 1;
            position: relative;
            float: left;
            font-size: 14px;
            background: $color-orange;
            line-height: distance(2.5);
            padding-right: distance();
            color: $color-white;
            margin-right: distance(4);
            transition: duration();
            padding-left:  distance(2);

            &:before 
            {
                content:'';
                display: block;
                position: absolute;
                right: 100%;
                left:-100000px;
                background: $color-orange;
                top:0;
                bottom: 0;  
            }

            &:after 
            {
                content:"";
                display: block;
                position: absolute;
                left: 100%;
                bottom: 0;
                height: 0;
                width: 0;
                border: distance(1.25) solid transparent;
                border-top-color: $color-orange;
                border-left-color: $color-orange;
                border-left-width: distance();
                border-right-width: distance();
                transition: duration();
            }
        }
    }

.header.is-small
{
    .header-first
    { 
        height: distance(2); 

        .module-social
        {
            top: -3px;
            transform: scale(0.8);
        }
    }

    .header-second
    {
        height: distance(3); 

        .logo
        {
            padding: distance(.5) 0;
        }
    }

    .header-third
    {
        .header-title
        {
            line-height: distance(2); 

            &:after 
            {
                border-width: distance();
            }
        }
    }

}

// --------------------------------------------------- BODY
.body
{
    position: relative;
    padding: distance(4) 0 distance(2);
    z-index: 0;
    min-height: 100%;
    padding-top: distance(11+8);
    padding-bottom: distance(8);
    margin-top: distance(-5.5) - 3px; 
    margin-bottom: distance(-6);
}
    .body-background
    {
        display: block;
        position: fixed;
        z-index: -1;
        left: 0;
        right: 0;
        top: distance(0);
        transform: translateZ(0) translateX(0);

        img {
            display: block;
            min-width: 100%;
        }
    }

    .body-content
    {
        margin: 0 auto;
        max-width: $site-width;
        width: 100%;
    }
    
    // Frame
    .frame 
    {
        padding: distance(1.5);
    }

    .frame-title
    {
        float: left;
        position: relative;
        padding: 0 distance();
        line-height: distance(2);
        font-size: 15px;
        font-family: 'Roboto Condensed';
        text-transform: uppercase;
        background: $color-blue-dark;
        color: $color-white;

        &:after
        {
            content:"";
            display: block;
            position: absolute;
            left: 100%;
            bottom: 0;
            height: 0;
            width: 0;
            border: distance() solid transparent;
            border-bottom-color: $color-blue-dark;
            border-left-color: $color-blue-dark;
        }

        .icon
        {
            color: $color-orange;
            margin-right: distance(.25);
        }

        &.is-orange
        {
            color: $color-blue-dark;
            background: $color-orange;
            font-weight: bold;
            .icon { color: $color-blue-dark; }
            &:after { 
                border-bottom-color: $color-orange;
                border-left-color: $color-orange;
            }
        }
    }

    .frame-image
    {
        box-shadow: 0 0 20px darken($color-blue-dark, 1.2);
        clear: both;
        img 
        {
            display: block;
        }
    }

    .frame-content
    {
        clear: both;
        position: relative;
        background: $color-white;
        border-bottom: 1px solid $color-orange;
        box-shadow: 0 0 6px rgba(black, 0.1);
        z-index: 1;

        &:after
        {
            content:"";
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 80%;
            height: 1px;
            background: $color-blue-dark;
        }
    }

// --------------------------------------------------- FOOTER
.footer
{
    position: relative;
    z-index: 1;
    text-align: right;
    color: $color-white;
    background: $color-blue-dark;
    border-bottom: distance() solid $color-orange;
    padding-top: distance();

    .module-copyright {
        font-size: 10px;
        padding-right: distance();
        line-height: distance(2);
    }
}

    .footer-content
    {
        margin: 0 auto;
        max-width: $site-width;
        width: 100%;
    }

// --------------------------------------------------- BUTTONS
.button
{
    display: inline-block;
    background: $color-orange;
    padding: distance(.5);
    color: $color-white;
    transition: duration();
    
    &:hover
    {
        background: $color-orange-light;
    }
}


// --------------------------------------------------- IMAGES
img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}