@import './variables.scss';

// --------------------------------------------------- HEADER
.module-social
{
    padding: distance();

    .menu-item {
        display: inline-block;
        margin: 0 distance(.25); 
    }

    .icon {
        display: inline-block;
        width: distance(2);
        height: distance(2);
        border-radius: 100%;
    }

    .icon-facebook { background: $color-facebook; }
    .icon-twitter { background: $color-twitter; }
    .icon-youtube { background: $color-youtube; }
}

