@import './variables.scss';


// --------------------------------------------------- HEADER
.module-menu
{
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    &:after
    {
        content: '';
        display: block;
        clear: both;
    }
    
    .menu-item
    { 
        position: relative;
        float:left;
        line-height: distance(2.5);
        transition:duration();


        a {
            display: block; 
            padding: 0 distance(2);
            &:hover 
            {
                color: $color-blue;
                transition: duration();
            }
        }

        &.is-active {
            color: $color-blue;
        }

        &:hover
        {
            > .menu {
                display: block
            }
        }

        .menu .menu { display: none; }
        .menu {
            display: none;
            position: absolute;
            z-index: 10;
            top: 100%;
            background: $color-white;
            padding: 0;
            text-align: left;

            .menu-item 
            {
                width: 100%;
                display: block;

                &:after
                {
                    display: none!important;
                }
            }

            a {
                padding: 0 distance(2);
                white-space: nowrap;
                color: $color-grey;

                &:hover 
                {
                    color: $color-blue-dark;
                    transition: duration();
                }
            }

            .menu-item:nth-child(n+2)
            {
                border-top: 1px solid rgba($color-blue-dark, .1);
            }
        }
    }
}

.header-first .module-menu 
{
    float:left;

    .menu-item + .menu-item:after
    {
        content:'';
        display: block;
        position: absolute;
        width: 1px;
        background: $color-blue;
        top: distance(.5);
        bottom: distance(.5);
        left: 0;
    }
}

.header-third .module-menu 
{
    color: rgba($color-white, .7);
    background: $color-blue-dark;
    position: relative;
    font-size: 11px;

    &:before
    {
        content:'';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -10000px;
        right: -10000px;
        background: $color-blue-dark;
        z-index: -1;
    }
}


.header.is-small
{
    .menu-item
    { 
        line-height: distance(2);
    }
}



.header-third .module-menu
{
    .menu-item
    {
        a:hover,
        .is-active a
        {
            color: $color-white;
        }
    }
}

@media screen and (max-width: 640px) {
    .module-menu {
        display: none;
    }
}

