@import './variables.scss';

// --------------------------------------------------- HEADER
.module-tv
{
    padding: distance();

    iframe {
        display: block;
        width: 100%;
        height: distance(20);
    }
}

