@import './variables.scss';

// --------------------------------------------------- HEADER
.module-tv
{
    .frame-content {
        padding: distance();
    }

    img {
        display: block;
        width: 100%;
    }
}

