@import './variables.scss';

// --------------------------------------------------- HEADER
.module-menu
{
    text-align: center;
    
    .menu-item
    {
        position: relative;
        display: inline-block;
        font-size: 14px;
        line-height: distance(2);

        a {
            display: block; 
            padding: distance(1) distance(2);
            &:hover 
            {
                color: $color-orange;
                transition: duration();
            }
        }

        &.is-active {
            &, &:hover a {
                background: $color-white-dark;
            }

            .menu a{
                background: $color-orange;
            }
        }

        &:hover
        {
            > .menu {
                display: block
            }
        }

        .menu .menu { display: none; }
        .menu {
            display: none;
            position: absolute;
            z-index: -1;
            top: 100%;
            background: $color-orange;
            padding: 0;
            text-align: left;
            box-shadow: 0 2px 2px rgba($color-blue-dark, 0.4);
            .menu-item 
            {
                display: block;
            }

            a {
                padding: distance(.5) distance(1);
                border-bottom: 1px solid $color-orange-light;
                white-space: nowrap;
                color: $color-white;

                &:hover 
                {
                    color: $color-blue-dark;
                    transition: duration();
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .module-menu {
        display: none;
    }
}

