@import './variables.scss';

// --------------------------------------------------- HEADER
.module-social
{
    padding: distance(.25);
    font-size: 11px;

    .menu-item {
        display: inline-block;
        margin: 0 distance(.25); 
    }

    .icon {
        display: inline-block;
        width: distance(1.75);
        height: distance(1.75);
        border-radius: 100%;
        text-align: center;
        line-height: distance(1.75);
        color: $color-white;
        transition: duration();
        transform: scale(1);

        &:hover {
            transform: scale(1.2);
        }
    }

    .icon-facebook 
    {
        background: $color-facebook; 
        &:hover  { background: darken($color-facebook, 20%); }
    }
    .icon-twitter 
    { 
        background: $color-twitter; 
        &:hover  { background: darken($color-twitter, 20%); }
    }
    .icon-youtube 
    { 
        background: $color-youtube; 
        &:hover  { background: darken($color-youtube, 20%); }
    }
    .icon-discord 
    { 
        background: $color-discord; 
        font-size: 120%;
        i {
            position: relative;
            top: 1px;
        }
        &:hover  { background: darken($color-discord, 20%); }
    }
    .icon-twitch 
    { 
        background: $color-twitch; 
        font-size: 120%;
        i {
            position: relative;
            top: 1px;
        }
        &:hover  { background: darken($color-twitch, 20%); }
    }
}

