@import './variables.scss';

// --------------------------------------------------- HEADER
.module-tweets
{
    .mask {
        overflow: hidden;
        width: 100%;
        height: distance(30);
    } 

    .mask-content
    {
        position: relative;
        margin-top: -45px;
        width: 100%;
        height: 100%;
        height: calc(100% + 45px);
    }
}

