@import './variables.scss';
@import './module-social.scss';

// --------------------------------------------------- LISTING
.news-listing
{
    overflow: hidden;
    padding: distance(.5);

    &:after
    {
        content:'';
        display: block;
        clear: both;
    }

    .news-item
    {
        display: block;
        position: relative;
        padding: distance(.5);

        &:after
        {
            content:'';
            display: block;
            clear: both;
        }

        &:nth-of-type(n+2)
        {
            position: relative;
            margin-top: distance(.5);
            padding-top: distance();

            &:before
            {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                height: 1px;
                left: distance(.5);
                right: distance(1);
                background: $color-grey-light;
            }
        }

        &:nth-of-type(odd)
        {
            clear: both;
        }
    }

    .news-link
    {
        background: #fff;
        display: block;
        padding-right: distance();

        &:hover 
        {
            .news-more { color: $color-orange; }
            .news-image {
                img { opacity: 0.3; }
                &:after
                {
                    background-color: rgba($color-white, 1);
                    transform: rotate(90deg);
                }
                &:before
                {
                    background-color: rgba($color-white, 1);
                    transform: rotate(180deg);
                }
            }
        }
    }

    .news-image
    {
        float: left; 
        margin-right: distance();
        background: $color-blue-dark;
        position: relative;

        img {
            display: block;
            height: distance(12);
            height: distance(12);
            transition: duration();
        }

        &:before, &:after
        {
            content: '';
            z-index: 1;
            display: block;
            position: absolute;
            width: distance(2);
            height: 2px;
            background-color: rgba($color-white, 0);
            top:50%;
            left:50%;
            margin-left: distance(-1);
            margin-top: -1px;
            transform: rotate(0deg);
            transition: duration();
        }

        &:before{
            transform: rotate(90deg);
        }
    }

    .news-title
    {
        padding-top: distance();
        font-size: 18px;
    }

    .news-author
    {
        margin-bottom: distance(.5);
        color: $color-orange;
    }

    .news-more
    {
        font-weight: bold;
        transition: duration();
        margin-top: distance(.5);
    }

    .news-content,
    .news-more
    {
        padding-left: distance(13);
    }

    .news-social { 
        @extend .module-social;

        position: absolute;
        bottom: 0;
        right: distance(); 
        padding: distance(.5);

        .icon {
            line-height: distance(1.8);
            width: distance(1.7);
            height: distance(1.7);
        }
    }

    @media screen and (min-width: 1024px){
        .news-item
        {
            display: block;
            position: relative;
            float:left;
            width: 50%;

            &:nth-of-type(2)
            {
                margin-top: 0;
                padding-top: distance(.5);

                &:before
                {
                    content: '';
                    display: none;
                }
            }
        }
    }
}

// --------------------------------------------------- PAGINATION
.news-pagination
{
    padding: distance();

    .pagination
    {
        padding-top: distance();
        border-top: 1px solid $color-white-dark;
        text-align: center;
    }
}


// --------------------------------------------------- PAGINATION
.news-categories
{
    padding: distance();

    .pagination
    {
        padding-bottom: distance();
        border-bottom: 1px solid $color-white-dark;
    
        .pagination-item a
        {
            background: $color-grey-light;
            color: $color-blue-dark;

            &:hover
            {
                background: $color-orange;
                color: $color-white;
            }
        }

        .is-active
        {
            background: $color-orange;
            color: $color-white;
            padding: 0 distance(.5);
            border: 0;
        }
    }
}
