@import './variables.scss';

// --------------------------------------------------- HEADER
@mixin wysiwyg-class
{
    h1, h2, h3, h4, h5, h6 
    {
        color: $color-blue-dark;
        margin-top: distance(2);
        &:first-child{
            margin-top: 0;
        }
    }

    h1
    {
        position: relative;
        font-size: 40px;
        line-height: 140%;
        margin-bottom: distance(2);
        padding-bottom: distance();
        font-weight: normal;
        border-bottom: 1px solid $color-orange;

        &:after
        {
            content: '';
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0; 
            right: 70%;
            height: 1px;
            background: $color-blue-dark;
        }
    }

    h2
    {
        font-size: 32px; 
        line-height: 140%;
        color: $color-orange;
        margin-bottom: distance(.5);
        font-weight: normal;
 
    }

    h3
    {
        font-size: 24px;
        line-height: 140%;
        color: $color-blue;
        margin-bottom: distance(.2);
        font-weight: normal;
    }

    h4
    {
        font-size: 20px;
        line-height: 140%;
        color: $color-blue-dark;
        margin-bottom: distance(.2);
        font-weight: normal;
    }

    h5
    {
        font-size: 18px;
        line-height: 140%;
        color: $color-orange-dark;
        margin-bottom: distance(.2);
        font-weight: normal;
    }

    h6
    {
        font-size: 16px;
        line-height: 140%;
        color: $color-grey;
        margin-bottom: distance(.2);
        font-weight: normal;
    }

    p {
        font-size: 14px;
        line-height: 140%;
        margin-bottom: distance();
        color: $color-blue-dark;
    }

    hr {
        position: relative;
        display: block;
        background: $color-orange;
        height: 1px;
        border-left: distance(10) solid $color-blue-dark;
        margin-bottom: distance();
    }

    ul, ol {
        font-size: 13px;
        padding-left: distance(2); 
        margin-bottom: distance();
    }

    a
    {
        text-decoration: underline;
        color: $color-blue;
    }

    img
    {
        margin: distance() distance(2);
    }

    .columns-2
    {
        column-count: 2;
        column-gap: distance(2);
    }
    .columns-3
    {
        column-count: 3;
        column-gap: distance(2);
    }

    .box, .box-info, .box-warning, .box-error
    {
        border: 1px solid $color-grey;
        color: $color-grey;
        padding: distance();
    }

    .box-info { border-color: $color-blue; color: $color-blue; }
    .box-warning { border-color: $color-orange; color: $color-orange; }
    .box-error { border-color: $color-red; color: $color-red; }

    img
    {
        position:relative;
        max-width:100%;

        &.fr-dib{margin:5px auto;display:block;float:none;vertical-align:top}
        &.fr-dib.fr-fil{margin-left:0}
        &.fr-dib.fr-fir{margin-right:0}
        &.fr-dii{display:inline-block;float:none;vertical-align:bottom;margin-left:5px;margin-right:5px;max-width:calc(90%)}
        &.fr-dii.fr-fil{float:left;margin:5px 5px 5px 0;max-width:calc(95%)}
        &.fr-dii.fr-fir{float:right;margin:5px 0 5px 5px;max-width:calc(95%)}
    }

    table
    {
        th, td { border: 1px solid $color-white; }
        th { background: $color-grey-light; padding:distance(.5); font-weight: bold;}
        td { background: $color-grey-lighten; padding:distance(.5);}
    }
}

@if $env == 'front' {
    .wysiwyg
    {
        position: relative;
        padding: distance(3) distance(2) ;
        @include wysiwyg-class;
    }
}

@if $env == 'backend' { 
    * {
        max-width: 796px;
        font-size: inherit;
        color: inherit;
    }
    .album
    {
        background: #eee;
        padding: 12px;
        border: 2px solid #ddd;
    }
}