<div class="module module-esport">
    <div class="esport-games">
        {% for item in __SELF__.games() %}
            {% if esport_context().id == item.id %}
                <div class="esport-game is-active">
            {% else %}
                <div class="esport-game">
            {% endif%}
                    <a class="esport-link" href="{{item.link()}}">
                        <div class="esport-image"><img src="{{ item.logo | media | resize(100, 100) }}" alt="{{image_alt}}"></div>
                        <div class="esport-title">{{ item.acronym }}</div>
                    </a>
                </div>
        {% endfor %}
    </div>
</div>